In [1]:
import pandas as pd

In [280]:
circuits = pd.read_csv("circuits.csv")
constructors = pd.read_csv("constructors.csv")
drivers = pd.read_csv("drivers.csv")
races = pd.read_csv("races.csv")
results = pd.read_csv("results.csv")
qualifying = pd.read_csv("qualifying.csv")
pitstops = pd.read_csv("pit_stops.csv")
status = pd.read_csv("status.csv")

In [282]:
races = races.drop(columns=["url", "time"])
races = races.rename(columns={"name": "raceName", "year":"raceYear", "date":"raceDate"})

In [284]:
circuits = circuits.drop(columns=["url"])
circuits = circuits.rename(columns={"name": "circuitName", "location": "circuitLocation"})

In [286]:
drivers = drivers.drop(columns=["url"])
drivers = drivers.rename(columns={"dob": "driverDOB", "nationality":"driverNationality", "code": "driverCode", "number": "driverNumber"})

In [288]:
results = results.drop(columns=["number"])
results = results.rename(columns={"position": "resultPosition"})

In [290]:
constructors = constructors.drop(columns=["url"])
constructors = constructors.rename(columns={"name": "constructorName", "nationality":"constructorNationality"})

In [292]:
qualifying = qualifying.drop(columns=["number"])
qualifying = qualifying.rename(columns={"position": "qualifyingPosition"})

In [294]:
pitstops = pitstops.rename(columns={"lap": "pitStopLap", "stop":"pitStopNumber", "time": "pitStopTime", "duration": "pitStopDuration", "milliseconds": "pitStopMilliseconds"})

In [296]:
races_circuit_df = pd.merge(races, circuits, on = "circuitId", how="inner")

In [298]:
races_circuit_df.columns

Index(['raceId', 'raceYear', 'round', 'circuitId', 'raceName', 'raceDate',
       'circuitRef', 'circuitName', 'circuitLocation', 'country', 'lat', 'lng',
       'alt'],
      dtype='object')

In [300]:
results_races_df = pd.merge(results, races_circuit_df, on = "raceId", how="inner")

In [302]:
results_races_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'resultPosition', 'positionText', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'raceYear', 'round', 'circuitId',
       'raceName', 'raceDate', 'circuitRef', 'circuitName', 'circuitLocation',
       'country', 'lat', 'lng', 'alt'],
      dtype='object')

In [304]:
results_races_drivers_df = pd.merge(results_races_df, drivers, on = "driverId", how="inner")

In [306]:
results_races_drivers_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'resultPosition', 'positionText', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'raceYear', 'round', 'circuitId',
       'raceName', 'raceDate', 'circuitRef', 'circuitName', 'circuitLocation',
       'country', 'lat', 'lng', 'alt', 'driverRef', 'driverNumber',
       'driverCode', 'forename', 'surname', 'driverDOB', 'driverNationality'],
      dtype='object')

In [308]:
results_races_drivers_consts_df = pd.merge(results_races_drivers_df, constructors, on = "constructorId", how="inner")

In [310]:
results_races_drivers_consts_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'resultPosition', 'positionText', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'raceYear', 'round', 'circuitId',
       'raceName', 'raceDate', 'circuitRef', 'circuitName', 'circuitLocation',
       'country', 'lat', 'lng', 'alt', 'driverRef', 'driverNumber',
       'driverCode', 'forename', 'surname', 'driverDOB', 'driverNationality',
       'constructorRef', 'constructorName', 'constructorNationality'],
      dtype='object')

In [312]:
results_races_drivers_consts_status_df = pd.merge(results_races_drivers_consts_df, status, on = "statusId", how="inner")

In [314]:
results_races_drivers_consts_status_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'resultPosition', 'positionText', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'raceYear', 'round', 'circuitId',
       'raceName', 'raceDate', 'circuitRef', 'circuitName', 'circuitLocation',
       'country', 'lat', 'lng', 'alt', 'driverRef', 'driverNumber',
       'driverCode', 'forename', 'surname', 'driverDOB', 'driverNationality',
       'constructorRef', 'constructorName', 'constructorNationality',
       'status'],
      dtype='object')

In [316]:
results_races_drivers_consts_status_pitstops_df = pd.merge(results_races_drivers_consts_status_df, pitstops, on = ["raceId", "driverId"], how="inner")

In [318]:
results_races_drivers_consts_status_pitstops_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'resultPosition', 'positionText', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'raceYear', 'round', 'circuitId',
       'raceName', 'raceDate', 'circuitRef', 'circuitName', 'circuitLocation',
       'country', 'lat', 'lng', 'alt', 'driverRef', 'driverNumber',
       'driverCode', 'forename', 'surname', 'driverDOB', 'driverNationality',
       'constructorRef', 'constructorName', 'constructorNationality', 'status',
       'pitStopNumber', 'pitStopLap', 'pitStopTime', 'pitStopDuration',
       'pitStopMilliseconds'],
      dtype='object')

In [320]:
final_df = pd.merge(results_races_drivers_consts_status_pitstops_df, qualifying, on = ["raceId", "driverId", "constructorId"], how="inner")

In [322]:
final_df

,resultId,raceId,driverId,constructorId,grid,resultPosition,positionText,positionOrder,points,laps,...,pitStopNumber,pitStopLap,pitStopTime,pitStopDuration,pitStopMilliseconds,qualifyId,qualifyingPosition,q1,q2,q3
0,20779,841,20,9,1,1,1,1,25.0,58,...,1,14,17:25:17,22.603,22603,4537,1,1:25.296,1:24.090,1:23.529
1,20779,841,20,9,1,1,1,1,25.0,58,...,2,36,17:59:17,24.036,24036,4537,1,1:25.296,1:24.090,1:23.529
2,20780,841,1,1,2,2,2,2,18.0,58,...,1,16,17:28:24,23.227,23227,4538,2,1:25.384,1:24.595,1:24.307
3,20780,841,1,1,2,2,2,2,18.0,58,...,2,36,17:59:29,23.199,23199,4538,2,1:25.384,1:24.595,1:24.307
4,20781,841,808,4,6,3,3,3,15.0,58,...,1,16,17:28:39,24.535,24535,4542,6,1:25.543,1:25.582,1:25.247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8439,25222,1064,847,3,11,17,17,17,0.0,69,...,2,68,16:30:57,25.533,25533,8984,11,1:10.382,1:10.332,\N
8440,25223,1064,854,210,17,18,18,18,0.0,69,...,1,4,15:08:42,35.573,35573,8992,19,1:11.387,\N,\N
8441,25223,1064,854,210,17,18,18,18,0.0,69,...,2,30,15:43:39,24.578,24578,8992,19,1:11.387,\N,\N
8442,25224,1064,852,213,14,\N,R,19,0.0,48,...,1,31,15:43:30,19.850,19850,8988,15,1:10.462,1:11.314,\N
8443,25225,1064,853,210,18,\N,R,20,0.0,41,...,1,33,15:46:35,19.999,19999,8993,20,1:11.875,\N,\N

In [324]:
final_df.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'resultPosition', 'positionText', 'positionOrder', 'points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'raceYear', 'round', 'circuitId',
       'raceName', 'raceDate', 'circuitRef', 'circuitName', 'circuitLocation',
       'country', 'lat', 'lng', 'alt', 'driverRef', 'driverNumber',
       'driverCode', 'forename', 'surname', 'driverDOB', 'driverNationality',
       'constructorRef', 'constructorName', 'constructorNationality', 'status',
       'pitStopNumber', 'pitStopLap', 'pitStopTime', 'pitStopDuration',
       'pitStopMilliseconds', 'qualifyId', 'qualifyingPosition', 'q1', 'q2',
       'q3'],
      dtype='object')

In [326]:
final_df.to_csv("formula1.csv")